<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Summarization Tool</div>
    <form action="/p1up/" method="post">
        <button name="p1upBtn" type="submit">-</button>
    </form>
    <form action="/p1down/" method="post">
        <button name="p1downBtn" type="submit">+</button>
    </form>
    <p>{{ data_i[0].content }}</p>

    <form action="/p2up/" method="post">
        <button name="p2upBtn" type="submit">-</button>
    </form>
    <form action="/p2down/" method="post">
        <button name="p2downBtn" type="submit">+</button>
    </form>
    <p>{{ data_i[1].content }}</p>

    <form action="/p3up/" method="post">
        <button name="p3upBtn" type="submit">-</button>
    </form>
    <form action="/p3down/" method="post">
        <button name="p3downBtn" type="submit">+</button>
    </form>
    <p>{{ data_i[2].content }}</p>

    <form action="/p4up/" method="post">
        <button name="p4upBtn" type="submit">-</button>
    </form>
    <form action="/p4down/" method="post">
        <button name="p4downBtn" type="submit">+</button>
    </form>
    <p>{{ data_i[3].content }}</p>

    <form action="/p5up/" method="post">
        <button name="p5upBtn" type="submit">-</button>
    </form>
    <form action="/p5down/" method="post">
        <button name="p5downBtn" type="submit">+</button>
    </form>
    <p>{{ data_i[4].content }}</p>

    
</body>
</html>